.square {
    border-radius: 0px;
}

.jumbotron {
    background-image: linear-gradient(to right, #007bff, #000);
    color: #fff;
}

#lottieContainer{
	height: 150%;
	width:70%;
	margin-left:auto;
	margin-bottom:100px;
	
}

#heading{
	font-size:150%;
	padding-left:6%;
	margin-top:2%;
	font-family:"Times New Roman", Times, serif;
}

#heading2{
	font-family: cursive;
}